.header
    height: 100%
    font-size: 2rem
    display: flex
    justify-content: space-between
    align-items: center
    
.mode__switch__container
    padding: 2rem

    .mode__switch
        pointer-events: none
        transition: all 0.3s ease
        border: 0.2rem solid #c9c9c9a4
        user-select: none
        font-weight: bold
        padding: 0.2rem 1rem
        border-radius: 1rem
        background: #fff
        font-size: 20px
        
.activeTab__name
    text-transform: capitalize
    font-size: 2.5rem
    letter-spacing: 0.1rem

.activeTab__name::selection
    background: #0066ff00
    color: #0073ff

