.odats-container
    display: grid
    grid-template-columns: 1fr
    align-items: center
    border-radius: 1.2rem
    gap: 2rem
    padding: 1.2rem
    animation: dc 1s ease

    .odat-form
        display: grid
        grid-template-columns: 8fr 2fr
        gap: 2rem

    .odat-btnContainer
        border: none
        display: grid
        align-items: center
        width: 100%
        justify-items: center
        transform: scale(1.4)
        background: none

        .odatBtn
            background: #0062ffc7
            padding: 0.2rem 1rem
            border-radius: 0.5rem
            font-size: 1.2rem
            color: white
            pointer-events: none

    .odat-input
        outline: none
        border: 0.1rem solid #43434360
        border-radius: 1rem
        background: none
        backdrop-filter: blur(8px)
        font-size: 1.2rem
        padding: 1rem

.tepaOdatPanel
    display: grid
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
    align-items: center
    margin-bottom: 1.5rem

.asosiyOdatlar
    display: grid
    align-items: center

    .odatItem
        display: grid
        grid-template-columns: 2.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.2fr
        align-items: center
        animation: todoI 1s ease

        *
            user-select: none

.deleteodatButton
    border: none
    background: none
    border-radius: 3rem

.odatText
    font-size: 1.6rem
